<template>
    <div>
        <div :class="this.sidebar ? 'block' : 'hidden'" @click="ToggleSideBar()"
             class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>

        <div :class="this.sidebar ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
             class=" h-screen fixed z-30 inset-y-0 left-0 w-64 transition duration-300 transform bg-gray-900 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0">

            <nav class="mt-10">
                <div class="flex pl-6 pb-6">

                    <svg width="70" height="70" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="33" cy="33" r="33" fill="#3751FF"/>
                        <path
                            d="M17.252 28.456V37H15.884V31.696L13.616 37H12.596L10.316 31.756V37H8.948V28.456H10.172L13.112 35.14L16.028 28.456H17.252ZM23.0433 33.616V37H21.4953V33.616L18.0273 28.456H19.7913L22.2633 32.32L24.7473 28.456H26.5113L23.0433 33.616ZM27.2662 28.456H28.8142V35.728H32.8102V37H27.2662V28.456ZM37.6043 37.108C36.7803 37.108 36.0603 36.932 35.4443 36.58C34.8363 36.22 34.3643 35.712 34.0283 35.056C33.7003 34.392 33.5363 33.612 33.5363 32.716C33.5363 31.828 33.7003 31.056 34.0283 30.4C34.3563 29.736 34.8243 29.228 35.4323 28.876C36.0483 28.524 36.7723 28.348 37.6043 28.348C38.4363 28.348 39.1563 28.524 39.7643 28.876C40.3803 29.228 40.8483 29.736 41.1683 30.4C41.4963 31.056 41.6603 31.828 41.6603 32.716C41.6603 33.612 41.4963 34.392 41.1683 35.056C40.8403 35.712 40.3723 36.22 39.7643 36.58C39.1563 36.932 38.4363 37.108 37.6043 37.108ZM37.6043 35.872C38.3963 35.872 39.0123 35.6 39.4523 35.056C39.8923 34.512 40.1123 33.732 40.1123 32.716C40.1123 31.708 39.8923 30.936 39.4523 30.4C39.0123 29.856 38.3963 29.584 37.6043 29.584C36.8123 29.584 36.1963 29.852 35.7563 30.388C35.3163 30.924 35.0963 31.7 35.0963 32.716C35.0963 33.732 35.3163 34.512 35.7563 35.056C36.1963 35.6 36.8123 35.872 37.6043 35.872ZM50.6739 32.38V36.484C50.2819 36.676 49.8099 36.828 49.2579 36.94C48.7059 37.052 48.1419 37.108 47.5659 37.108C46.6859 37.108 45.9219 36.932 45.2739 36.58C44.6259 36.228 44.1299 35.724 43.7859 35.068C43.4419 34.412 43.2699 33.628 43.2699 32.716C43.2699 31.82 43.4419 31.044 43.7859 30.388C44.1299 29.732 44.6179 29.228 45.2499 28.876C45.8899 28.524 46.6379 28.348 47.4939 28.348C48.0939 28.348 48.6539 28.436 49.1739 28.612C49.7019 28.788 50.1419 29.036 50.4939 29.356L49.9659 30.484C49.5659 30.172 49.1739 29.948 48.7899 29.812C48.4059 29.676 47.9859 29.608 47.5299 29.608C46.6499 29.608 45.9819 29.872 45.5259 30.4C45.0779 30.928 44.8539 31.7 44.8539 32.716C44.8539 33.764 45.0859 34.556 45.5499 35.092C46.0139 35.62 46.7059 35.884 47.6259 35.884C48.1859 35.884 48.7379 35.808 49.2819 35.656V33.496H47.4339V32.38H50.6739ZM56.509 37.108C55.685 37.108 54.965 36.932 54.349 36.58C53.741 36.22 53.269 35.712 52.933 35.056C52.605 34.392 52.441 33.612 52.441 32.716C52.441 31.828 52.605 31.056 52.933 30.4C53.261 29.736 53.729 29.228 54.337 28.876C54.953 28.524 55.677 28.348 56.509 28.348C57.341 28.348 58.061 28.524 58.669 28.876C59.285 29.228 59.753 29.736 60.073 30.4C60.401 31.056 60.565 31.828 60.565 32.716C60.565 33.612 60.401 34.392 60.073 35.056C59.745 35.712 59.277 36.22 58.669 36.58C58.061 36.932 57.341 37.108 56.509 37.108ZM56.509 35.872C57.301 35.872 57.917 35.6 58.357 35.056C58.797 34.512 59.017 33.732 59.017 32.716C59.017 31.708 58.797 30.936 58.357 30.4C57.917 29.856 57.301 29.584 56.509 29.584C55.717 29.584 55.101 29.852 54.661 30.388C54.221 30.924 54.001 31.7 54.001 32.716C54.001 33.732 54.221 34.512 54.661 35.056C55.101 35.6 55.717 35.872 56.509 35.872Z"
                            fill="white"/>
                    </svg>
                </div>

                <a class="flex items-center mt-2 py-2 px-6 text-gray-400 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">

                    <svg width="18" height="18" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="text-gray-500">
                        <path opacity="0.4"
                              d="M15.5233 8.94116H8.54418L13.1921 13.5891C13.3698 13.7667 13.6621 13.7812 13.8448 13.6091C14.983 12.5367 15.7659 11.0912 15.9957 9.46616C16.0351 9.18793 15.8042 8.94116 15.5233 8.94116ZM15.0577 7.03528C14.8154 3.52176 12.0077 0.714119 8.49418 0.471767C8.22595 0.453237 8.00006 0.679413 8.00006 0.948236V7.5294H14.5815C14.8504 7.5294 15.0762 7.30352 15.0577 7.03528ZM6.5883 8.94116V1.96206C6.5883 1.68118 6.34153 1.45029 6.06359 1.48971C2.55859 1.985 -0.120524 5.04705 0.00418193 8.71675C0.132417 12.4856 3.37742 15.5761 7.14801 15.5288C8.63036 15.5103 10.0001 15.0326 11.1262 14.2338C11.3586 14.0691 11.3739 13.727 11.1724 13.5256L6.5883 8.94116Z"
                              fill="#9FA2B4"/>
                    </svg>

                    <span class="mx-5 text-gray-500">Overview</span>
                </a>

                <a class="flex items-center mt-2 py-2 px-6 bg-gray-700 bg-opacity-25 text-gray-100 border-l-4">
                    <svg width="18" height="18" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="text-gray-500">
                        <path
                            d="M3.55556 3.33335H12.4444V8.66669H3.55556V3.33335ZM14.6667 6.00002C14.6667 6.73641 15.2636 7.33335 16 7.33335V10C16 10.7364 15.4031 11.3334 14.6667 11.3334H1.33333C0.596944 11.3334 0 10.7364 0 10V7.33335C0.736389 7.33335 1.33333 6.73641 1.33333 6.00002C1.33333 5.26363 0.736389 4.66669 0 4.66669V2.00002C0 1.26363 0.596944 0.666687 1.33333 0.666687H14.6667C15.4031 0.666687 16 1.26363 16 2.00002V4.66669C15.2636 4.66669 14.6667 5.26363 14.6667 6.00002ZM13.3333 3.11113C13.3333 2.74294 13.0349 2.44446 12.6667 2.44446H3.33333C2.96514 2.44446 2.66667 2.74294 2.66667 3.11113V8.88891C2.66667 9.2571 2.96514 9.55558 3.33333 9.55558H12.6667C13.0349 9.55558 13.3333 9.2571 13.3333 8.88891V3.11113Z"
                            fill="#DDE2FF"/>
                    </svg>

                    <span class="mx-5 text-gray-500">Tickets</span>
                </a>

                <a class="flex items-center mt-2 py-2 px-6 text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
                    <svg width="18" height="18" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="text-gray-500">
                        <path opacity="0.4"
                              d="M3.50187 14.1984C3.50219 14.395 3.56031 14.5875 3.66937 14.7512L4.20344 15.554C4.29467 15.6913 4.41841 15.8038 4.56366 15.8817C4.7089 15.9595 4.87114 16.0003 5.03594 16.0003H6.96438C7.12917 16.0003 7.29141 15.9595 7.43665 15.8817C7.5819 15.8038 7.70564 15.6913 7.79688 15.554L8.33094 14.7512C8.43995 14.5874 8.49822 14.3951 8.49844 14.1984L8.49969 13H3.50031L3.50187 14.1984ZM0.5 5.49997C0.5 6.88653 1.01406 8.15153 1.86125 9.11809C2.3775 9.70715 3.185 10.9378 3.49281 11.9759C3.49406 11.984 3.495 11.9922 3.49625 12.0003H8.50375C8.505 11.9922 8.50594 11.9843 8.50719 11.9759C8.815 10.9378 9.6225 9.70715 10.1388 9.11809C10.9859 8.15153 11.5 6.88653 11.5 5.49997C11.5 2.45653 9.02844 -0.00940939 5.98281 -3.43921e-05C2.795 0.00965311 0.5 2.59278 0.5 5.49997ZM6 2.99997C4.62156 2.99997 3.5 4.12153 3.5 5.49997C3.5 5.77622 3.27625 5.99997 3 5.99997C2.72375 5.99997 2.5 5.77622 2.5 5.49997C2.5 3.56997 4.07 1.99997 6 1.99997C6.27625 1.99997 6.5 2.22372 6.5 2.49997C6.5 2.77622 6.27625 2.99997 6 2.99997Z"
                              fill="#9FA2B4"/>
                    </svg>
                    <span class="mx-5 text-gray-500">Ideas</span>
                </a>

                <a class="flex items-center mt-2 py-2 px-6 text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
                    <svg width="18" height="18" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="text-gray-500">
                        <path opacity="0.4"
                              d="M2.4 5.19999C3.2825 5.19999 4 4.48249 4 3.59999C4 2.71749 3.2825 1.99999 2.4 1.99999C1.5175 1.99999 0.8 2.71749 0.8 3.59999C0.8 4.48249 1.5175 5.19999 2.4 5.19999ZM13.6 5.19999C14.4825 5.19999 15.2 4.48249 15.2 3.59999C15.2 2.71749 14.4825 1.99999 13.6 1.99999C12.7175 1.99999 12 2.71749 12 3.59999C12 4.48249 12.7175 5.19999 13.6 5.19999ZM14.4 5.99999H12.8C12.36 5.99999 11.9625 6.17749 11.6725 6.46499C12.68 7.01749 13.395 8.01499 13.55 9.2H15.2C15.6425 9.2 16 8.84249 16 8.39999V7.59999C16 6.71749 15.2825 5.99999 14.4 5.99999ZM8 5.99999C9.5475 5.99999 10.8 4.74749 10.8 3.19999C10.8 1.65249 9.5475 0.399994 8 0.399994C6.4525 0.399994 5.2 1.65249 5.2 3.19999C5.2 4.74749 6.4525 5.99999 8 5.99999ZM9.92 6.79999H9.7125C9.1925 7.04999 8.615 7.19999 8 7.19999C7.385 7.19999 6.81 7.04999 6.2875 6.79999H6.08C4.49 6.79999 3.2 8.08999 3.2 9.67999V10.4C3.2 11.0625 3.7375 11.6 4.4 11.6H11.6C12.2625 11.6 12.8 11.0625 12.8 10.4V9.67999C12.8 8.08999 11.51 6.79999 9.92 6.79999ZM4.3275 6.46499C4.0375 6.17749 3.64 5.99999 3.2 5.99999H1.6C0.7175 5.99999 0 6.71749 0 7.59999V8.39999C0 8.84249 0.3575 9.2 0.8 9.2H2.4475C2.605 8.01499 3.32 7.01749 4.3275 6.46499Z"
                              fill="#9FA2B4"/>
                    </svg>

                    <span class="mx-5 text-gray-500">Contacts</span>
                </a>

                <a class="flex items-center mt-2 py-2 px-6 text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
                    <svg width="18" height="18" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="text-gray-500">
                        <path opacity="0.4"
                              d="M7 8C9.20938 8 11 6.20937 11 4C11 1.79063 9.20938 0 7 0C4.79063 0 3 1.79063 3 4C3 6.20937 4.79063 8 7 8ZM9.99375 9.01875L8.5 15L7.5 10.75L8.5 9H5.5L6.5 10.75L5.5 15L4.00625 9.01875C1.77812 9.125 0 10.9469 0 13.2V14.5C0 15.3281 0.671875 16 1.5 16H12.5C13.3281 16 14 15.3281 14 14.5V13.2C14 10.9469 12.2219 9.125 9.99375 9.01875Z"
                              fill="#9FA2B4"/>
                    </svg>

                    <span class="mx-5 text-gray-500">Agents</span>
                </a>

                <a class="flex items-center mt-2 py-2 px-6 text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
                    <svg width="18" height="18" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="text-gray-500">
                        <path opacity="0.4"
                              d="M14 11.25V0.75C14 0.334375 13.6656 0 13.25 0H3C1.34375 0 0 1.34375 0 3V13C0 14.6562 1.34375 16 3 16H13.25C13.6656 16 14 15.6656 14 15.25V14.75C14 14.5156 13.8906 14.3031 13.7219 14.1656C13.5906 13.6844 13.5906 12.3125 13.7219 11.8313C13.8906 11.6969 14 11.4844 14 11.25ZM4 4.1875C4 4.08437 4.08437 4 4.1875 4H10.8125C10.9156 4 11 4.08437 11 4.1875V4.8125C11 4.91563 10.9156 5 10.8125 5H4.1875C4.08437 5 4 4.91563 4 4.8125V4.1875ZM4 6.1875C4 6.08437 4.08437 6 4.1875 6H10.8125C10.9156 6 11 6.08437 11 6.1875V6.8125C11 6.91563 10.9156 7 10.8125 7H4.1875C4.08437 7 4 6.91563 4 6.8125V6.1875ZM11.9187 14H3C2.44688 14 2 13.5531 2 13C2 12.45 2.45 12 3 12H11.9187C11.8594 12.5344 11.8594 13.4656 11.9187 14Z"
                              fill="#9FA2B4"/>
                    </svg>
                    <span class="mx-5 text-gray-500">Articles</span>
                </a>


                <div class="my-5">
                    <hr/>
                </div>

                <a class="flex items-center mt-2 py-2 px-6 text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
                    <svg width="18" height="18" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="text-gray-500">
                        <path opacity="0.4"
                              d="M15.2311 9.86558L13.8999 9.09683C14.0343 8.37183 14.0343 7.62808 13.8999 6.90308L15.2311 6.13433C15.3843 6.04683 15.453 5.86558 15.403 5.69683C15.0561 4.58433 14.4655 3.57808 13.6936 2.74058C13.5749 2.61246 13.3811 2.58121 13.2311 2.66871L11.8999 3.43746C11.3405 2.95621 10.6968 2.58433 9.99989 2.34058V0.806206C9.99989 0.631206 9.87802 0.478081 9.70614 0.440581C8.55927 0.184331 7.38427 0.196831 6.29365 0.440581C6.12177 0.478081 5.9999 0.631206 5.9999 0.806206V2.34371C5.30615 2.59058 4.6624 2.96246 4.0999 3.44058L2.77177 2.67183C2.61865 2.58433 2.42802 2.61246 2.30927 2.74371C1.5374 3.57808 0.946773 4.58433 0.599898 5.69996C0.546773 5.86871 0.618648 6.04996 0.771773 6.13746L2.10302 6.90621C1.96865 7.63121 1.96865 8.37496 2.10302 9.09996L0.771773 9.86871C0.618648 9.95621 0.549898 10.1375 0.599898 10.3062C0.946773 11.4187 1.5374 12.425 2.30927 13.2625C2.42802 13.3906 2.62177 13.4218 2.77177 13.3343L4.10302 12.5656C4.6624 13.0468 5.30615 13.4187 6.00302 13.6625V15.2C6.00302 15.375 6.1249 15.5281 6.29677 15.5656C7.44365 15.8218 8.61864 15.8093 9.70927 15.5656C9.88114 15.5281 10.003 15.375 10.003 15.2V13.6625C10.6968 13.4156 11.3405 13.0437 11.903 12.5656L13.2343 13.3343C13.3874 13.4218 13.578 13.3937 13.6968 13.2625C14.4686 12.4281 15.0593 11.4218 15.4061 10.3062C15.453 10.1343 15.3843 9.95308 15.2311 9.86558ZM7.99989 10.5C6.62177 10.5 5.4999 9.37808 5.4999 7.99996C5.4999 6.62183 6.62177 5.49996 7.99989 5.49996C9.37802 5.49996 10.4999 6.62183 10.4999 7.99996C10.4999 9.37808 9.37802 10.5 7.99989 10.5Z"
                              fill="#9FA2B4"/>
                    </svg>

                    <span class="mx-5 text-gray-500">Settings</span>
                </a>

                <a class="flex items-center mt-2 py-2 px-6 text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
                    <svg width="18" height="18" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                         class="text-gray-500">
                        <path opacity="0.4"
                              d="M3.03506 11.3322C2.7635 11.0606 2.90506 11.1372 2.25006 10.9619C1.95287 10.8822 1.69162 10.7291 1.45537 10.5456L0.0375617 14.0219C-0.0996258 14.3584 0.156624 14.7241 0.519749 14.7103L2.16631 14.6475L3.29881 15.8437C3.54881 16.1075 3.98756 16.0253 4.12475 15.6887L5.75131 11.7006C5.41256 11.8894 5.03662 12 4.64787 12C4.0385 12 3.466 11.7628 3.03506 11.3322ZM11.9626 14.0219L10.5447 10.5456C10.3085 10.7294 10.0472 10.8822 9.75006 10.9619C9.09162 11.1381 9.236 11.0612 8.96506 11.3322C8.53412 11.7628 7.96131 12 7.35194 12C6.96319 12 6.58725 11.8891 6.2485 11.7006L7.87506 15.6887C8.01225 16.0253 8.45131 16.1075 8.701 15.8437L9.83381 14.6475L11.4804 14.7103C11.8435 14.7241 12.0997 14.3581 11.9626 14.0219ZM8.21881 10.625C8.69631 10.1391 8.751 10.1809 9.431 9.99562C9.86506 9.87718 10.2044 9.53187 10.3207 9.08999C10.5544 8.20249 10.4938 8.30968 11.1316 7.66031C11.4494 7.33687 11.5735 6.8653 11.4572 6.42343C11.2238 5.53655 11.2235 5.66031 11.4572 4.77249C11.5735 4.33062 11.4494 3.85906 11.1316 3.53562C10.4938 2.88624 10.5544 2.99312 10.3207 2.10593C10.2044 1.66406 9.86506 1.31874 9.431 1.20031C8.55975 0.962493 8.66475 1.02468 8.02631 0.374993C7.7085 0.0515551 7.24506 -0.0750074 6.811 0.0434301C5.94006 0.28093 6.06162 0.281243 5.18912 0.0434301C4.75506 -0.0750074 4.29162 0.0512426 3.97381 0.374993C3.336 1.02437 3.441 0.962493 2.56944 1.20031C2.13537 1.31874 1.796 1.66406 1.67975 2.10593C1.44631 2.99312 1.50662 2.88624 0.868812 3.53562C0.550999 3.85906 0.426624 4.33062 0.543187 4.77249C0.776624 5.65874 0.776937 5.53499 0.543187 6.42312C0.426937 6.86499 0.550999 7.33656 0.868812 7.66031C1.50662 8.30968 1.446 8.20249 1.67975 9.08999C1.796 9.53187 2.13537 9.87718 2.56944 9.99562C3.26881 10.1862 3.321 10.1562 3.78131 10.625C4.19475 11.0459 4.83881 11.1212 5.33569 10.8069C5.53438 10.6807 5.76487 10.6137 6.00022 10.6137C6.23557 10.6137 6.46606 10.6807 6.66475 10.8069C7.16131 11.1212 7.80537 11.0459 8.21881 10.625ZM3.05194 5.49874C3.05194 3.84156 4.37194 2.49812 6.00006 2.49812C7.62819 2.49812 8.94819 3.84156 8.94819 5.49874C8.94819 7.15593 7.62819 8.49937 6.00006 8.49937C4.37194 8.49937 3.05194 7.15593 3.05194 5.49874Z"
                              fill="#9FA2B4"/>
                    </svg>

                    <span class="mx-5 text-gray-500">Subscription</span>
                </a>

            </nav>
        </div>
    </div>
</template>

<script>
import {mapState} from "vuex";

export default {
    computed: {
        ...mapState({
            sidebar: (state) => state.layout.sideBar,
        }),
    },
    methods: {
        ToggleSideBar: function () {
            this.$store.dispatch("layout/toggleSideBar", {status: !this.sidebar});
        }
    },
};
</script>
