<template>
    <div
        class="bg-white align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <p class="px-6 py-3 font-semibold">All tickets</p>
        <table class="min-w-full">
            <thead class="border-b-2 border-gray-200">
            <tr>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                    Ticket details
                </th>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                    Customer name
                </th>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                    Date
                </th>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                    Priority
                </th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr v-for="item in users.data">
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                            <img class="h-10 w-10 rounded-full" :src="item.picture" alt=""/>
                        </div>
                        <div class="ml-4">
                            <div class="text-md font-medium text-gray-900">
                                {{ item.firstName }}
                            </div>
                            <div class="text-sm text-gray-500">
                                {{ item.email }}
                            </div>
                        </div>
                    </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-md text-gray-900">{{ item.lastName }}</div>
                    <div class="text-sm text-gray-500">
                        On {{ $moment().format("DD.MM.YYYY") }}
                    </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-md text-gray-900">
                        {{ $moment().format("LL") }}
                    </div>
                    <div class="text-sm text-gray-500">
                        {{ $moment().format("hh:mm A") }}
                    </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    Admin
                </td>
            </tr>
            </tbody>
        </table>
        <div class="border-t-2 flex justify-end p-6">
            <p class="text-gray-600 mx-4">
                1 - {{ users.limit }} of {{ users.total }}
            </p>

            <button>
                <svg class="mx-4 text-gray-600" width="8" height="12" viewBox="0 0 8 14" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7 13L1.07071 7.07071C1.03166 7.03166 1.03166 6.96834 1.07071 6.92929L7 1"
                        stroke="#9FA2B4"
                        stroke-width="2"
                        stroke-linecap="round"
                    />
                </svg>
            </button>

            <button>
                <svg class="mx-4 text-gray-600" width="8" height="12" viewBox="0 0 8 14" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1 13L6.92929 7.07071C6.96834 7.03166 6.96834 6.96834 6.92929 6.92929L1 1"
                        stroke="#9FA2B4"
                        stroke-width="2"
                        stroke-linecap="round"
                    />
                </svg>
            </button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'TableList',
    props: {
        users: {}
    }
}
</script>
