<template>
    <div>
        <div class="flex px-6 py-8">
            <button @click="ToggleSideBar()" class="text-gray-500 focus:outline-none lg:hidden mr-3">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                    </path>
                </svg>
            </button>

            <div class="flex-auto">
                <p class="text-gray-800 text-2xl font-medium">Dashboard </p>
            </div>

            <div class="flex items-center mx-5">
                <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                    </path>
                </svg>
            </div>

            <div class="flex items-center border-l-2">
                <div class="mx-4">
                    <div class="text-md font-medium text-gray-900">
                        Nabil Khalid
                    </div>
                </div>
                <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="https://reqres.in/img/faces/7-image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState} from "vuex";

export default {
    data() {
        return {};
    },
    computed: {
        ...mapState({
            sidebar: (state) => state.layout.sideBar,
        }),
    },
    methods: {
        ToggleSideBar: function () {
            this.$store.dispatch("layout/toggleSideBar",{status: !this.sidebar});
        }
    },
};
</script>
