<template>
    <div>
        <div class="flex h-screen w-screen">
            <sidebar></sidebar>

            <div class=" flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <topbar></topbar>
                <Nuxt/>
            </div>
        </div>
    </div>

</template>


<style>

</style>
