<template>
    <div>
        <div class="px-6">
            <div class="flex flex-col">
                <div class="py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <TableList :users="users"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TableList from "~/components/TableList";

export default {
    components: {TableList},
    data() {
        return {
            users: {},
        };
    },
    async asyncData({$axios, $config: {apiSecret}}) {
        const users = await $axios.$get("/user?page=1", {
            headers: {"app-id": apiSecret},
        });
        return {users};
    },
};
</script>

